.card.my-1.w-75.mx-auto
  .card-body
    .card-text
      %p= post.content
      .d-flex
        %p.me-1= l post.created_at
        - if current_user.posts.include?(post)
          = link_to edit_post_path(post), class: 'text-reset ms-auto' do
            %i.bi.bi-pen-fill
