.mt-4
  = render 'form', user: current_user, post: @post
  .d-flex.justify-content-end
    = button_to '削除', user_post_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger'
