%table.table.table-hover.mt-5
  %thead
    %tr
      %th= User.human_attribute_name(:name)
      %th ブログ投稿数
  - @users.each do |user|
    %tr
      - unless current_user == user
        %td= link_to user.name, user_path(user)
        %td= user.posts.count
= paginate @users
