.mt-5
  - @users.each do |user|
    - unless current_user == user
      .card.w-50.mx-auto.p-2
        .card-title
          = gravatar_for(user)
          = link_to user.name, user_path(user), class: 'fs-3 text-reset'
        .card-body
          %p= user.profile

= paginate @users
