.mt-5
  - @liked_users.each do |user|
    .card.w-50.mx-auto.p-2
      .card-title
        = gravatar_for(user)
        = link_to user.name, user_path(user), class: 'fs-3 text-reset'
      .card-body
        %p= user.profile

= paginate @liked_users
