.d-flex.justify-content-end.mt-2.position-absolute.top-0.end-10
  = render 'shared/flash'
.row.mt-5
  .col-4
    = render 'form', post: @post
  .col-8
    - @posts.each do |post|
      .card.mb-1
        .card-body
          .card-text
            %p= post.content
            %p= l post.created_at
