%nav.navbar.navbar-expand-lg.navbar-dark.bg-success
  = link_to 'Ⓜiniblog', root_path, class: 'text-white navbar-brand ms-2'
  .collapse.navbar-collapse
    .me-auto
    - if user_signed_in?
      %ul.navbar-nav
        %li.nav-item.dropdown
          = link_to current_user.email, '#', class: 'nav-link dropdown-toggle', id: 'dropdown-menu-link', role: 'button', 'data-bs-toggle': :dropdown, 'aria-expanded': false
          %ul.dropdown-menu.dropdown-menu-end.dropdown-menu-lg-start
            = link_to 'プロフィール', user_path(current_user), class: 'dropdown-item'
            %hr.dropdown-divider
            = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item'
